

<div class="container">
        <div class="alert alert-warning alert-dismissible fade show" style="margin-top:25px;" role="alert">
                <strong>Hello!</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero minus sit sint voluptatibus corrupti voluptatum atque. Amet illum blanditiis repellendus modi ipsum consectetur nostrum aspernatur odit. Distinctio sint velit earum voluptatum. Ducimus nemo, quia blanditiis perferendis possimus sunt? Fugit error tempora ducimus animi sapiente praesentium velit quo. Totam, aspernatur voluptatum..
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
    <div class="row">
        
            <div class="col-sm"></div>
            <div class="col-sm" style="margin-top:15px;">
                    <div class="alert alert-dark" style="font-weight:bold; text-align:center;" role="alert">
                        Sign in
                    </div>
                    <form action="/login" method="POST">
                            <div class="form-group">
                            <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp" placeholder="Username">
                            </div>
                            <div class="form-group">
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-dark">Sign in</button>
                        </form>
            </div>
            
            <div class="col-sm"></div>
            
            <% if(typeof username != 'undefined') {%>
            <span class="list-group-item list-group-item-action list-group-item-warning" style="margin-top:15px;">
                    <%=username%>
            </span>
            <%}%>
            <% if(typeof password != 'undefined') {%>
                <span class="list-group-item list-group-item-action list-group-item-warning" style="margin-top:5px;">
                        <%=password%>
                </span>
            <%}%>

    </div>
</div>